@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sharmusiq</h1>

    <h2>(share music) - to give yours buds access to your jams.</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>My Tracks</h3>
        <ul>
            <li>@Html.ActionLink("Eminem - Criminal (MP3) ", "Download", new { id = 0 })</li>
            <li>@Html.ActionLink("Eminem - 313 (MP3) ", "Download", new { id = 0 })</li>
            <li>@Html.ActionLink("Eminem - Stan (MP3) ", "Download", new { id = 0 })</li>
            <li>@Html.ActionLink("Eminem - Berserk (MP3) ", "Download", new { id = 0 })</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Recent Searches</h3>
        <ul>
            @foreach (var term in new[] { "hip hop", "doors", "system of a", "pink fl" })
            {
                <li>@Html.ActionLink(term, "Search", new { q = term })</li>
            }
        </ul>

    </div>
    <div class="col-md-4">
        <h3>Recent Tracks</h3>
    </div>
</div>